1 VERSIONINFO
BEGIN
  PRODUCTVERSION 1,0,0,0
  FILEFLAGSMASK 0x3fL
  FILEFLAGS 0x0L
  FILEOS 0x4L
  FILETYPE 0x1L
  FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904e4"
    BEGIN
      VALUE "FileDescription", "HistoryButtonedEdit Test"
      VALUE "FileVersion", "1.0.0.0"
      VALUE "InternalName", "HistoryEditTest"
      VALUE "ProductName", "HistoryButtonedEdit Test"
      VALUE "ProductVersion", "1.0.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
