**/__history/*
**/__recovery/*
**/Win32/*
**/Win64/*
**/*.delphilsp.json
**/*.identcache
**/*.res
**/*.dres
**/*.dproj.local
**/*.groupproj.local
**/*.dsk
**/*.dsv
**/*.~dsk
**/*.$manifest
**/*.tvsconfig
**/.vscode/settings.json
**/.icons/*
images/icons/convert/*.*
images/icons/bmps/*.*
images/dripgrepper-gemini.jpg
deploy/SECRET_TOKEN
DRipGrepper_project.tvsconfig
deploy/assets/*
deploy/RipGrepper.npps
RipGrepper.code-workspace
deploy/TransferDrive.txt
Extension/src/Project/Dll.*/DRipExtensions.D*.dres
Extension/src/Project/Dll.*/DRipExtensions.D*.rc
src/Project/Delphi12/DRipGrepper.dsv
UnitTest/DRipGrepperUnittest.D12.dsv
