**/__history/*
**/__recovery/*
**/Win32/*
**/icons/*
**/*.delphilsp.json
**/*.identcache
**/*.res
**/*.dproj.local
**/*.groupproj.local
**/*.dsk
**/*.~dsk
.vscode/settings.json
deploy/SECRET_TOKEN
DRipGrepper_project.tvsconfig
deploy/assets/*
